// Variables de couleurs
$couleur-primaire: #20B2AA; // Couleur principale venant du logo
$bleu-clair: #A7DCEF; // Couleur d'accent
$texte-sombre: #333333; // Couleur de texte sombre
$texte-clair: #FFFFFF; // Couleur de texte clair
$fond-clair: #FFFFFF; // Couleur de fond clair
$fond-sombre: #F5F5F5; // Couleur de fond sombre
$couleur-accent: #FF9800; // Couleur d'accent orange (Boutons, Hovers, etc.)